<h3 class="h3 mb-3 font-weight-normal">Change Password</h3>

<%= form_with model: @user, url: update_password_path(@user), local: true do |f| %>

    <% if @user.errors.any? %>
        <p><%= @user.errors.full_messages.join(", ") %></p>
    <% end %>

    <div class="form-row">
        <div class="col">
            <%= f.label :current_password, "Current Password" %>
            <%= f.password_field :current_password, class: "form-control", placeholder: "Old Password" %>
            <%= f.label :new_password, "New Password" %>
            <%= f.password_field :new_password, class: "form-control", placeholder: "New Password" %>
            <%= f.password_field :new_password_confirmation, class: "form-control", placeholder: "Confirm New Password" %>
        </div>
    </div>
<br>
    <%= f.submit "Update", :class => "btn btn-outline-primary center" %>

<% end %>
