<h3><%=@post.title%></h3>
<p><%= @post.body %></p>
<small>
<p>posted : <%= time_ago_in_words(@post.created_at)  %> ago</p> 
</small>
<div>
    
    <%= link_to '<button type="button" class="btn btn-outline-primary">Edit</button>'.html_safe, edit_post_path(@post.id)%> 
  
    
    <%= link_to '<button type="button" class="btn btn-outline-danger">Delete</button>'.html_safe,post_path(@post),method: :delete,data:{confirm: "Are you sure ?"}%>
    
</div>
<br>
<h3>Comment</h3>
<%= form_with model:[@post,@comment],local: true do |form|%>
    <div class="form-group">
    <ul>
        <% if @comment.errors.full_messages.each do |msg|%>

        <li>
        <%= msg %>
       
        </li>
        <% end %>
        <% end %>
    </ul>
    <div class="input-group">
    <%= form.text_area :body, 
    cols: 50, 
    rows: 5, 
    placeholder: 'What\'s on your mind?',
    :class=>"form-control input-lg"%>
    </div>
    <br>
    
    <%= form.submit "Submit", class: "btn btn-outline-primary " %>
    
            </div>
    <% end %>
<h3>Comments:</h3>
    <% @comments.each do |comment|%>
    <span>
    <%= comment.body %>
    <small><p>commented : <%= time_ago_in_words(comment.created_at)  %> ago
    <li><%= link_to "Delete",post_comment_path(@post,comment), method: :delete,data: {confirm: "Are you sure?"} %></li></p></small>
    
    </span>
    <% end %>